annotated-types==0.5.0
autocommand==2.2.2
bcrypt==4.0.1
cffi==1.15.1
cheroot==10.0.0
CherryPy==18.9.0
cryptography==42.0.5
distlib==0.3.7
docutils==0.20.1
fabric==2.7.1
filelock==3.12.4
grpcio==1.62.0
inflect==7.0.0
invoke==1.7.3
jaraco.collections==4.3.0
jaraco.context==4.3.0
jaraco.functools==3.9.0
jaraco.text==3.11.1
lockfile==0.12.2
logzero==1.7.0
more-itertools==10.1.0
paramiko==3.3.1
pathlib2==2.3.7.post1
platformdirs==3.10.0
portend==3.2.0
protobuf==4.24.3
psutil==5.9.5
pycparser==2.21
pycryptodome==3.19.0
pydantic==2.3.0
pydantic_core==2.6.3
PyNaCl==1.5.0
python-daemon==3.0.1
pytz==2023.3.post1
PyYAML==6.0.1
six==1.16.0
tempora==5.5.0
typing_extensions==4.8.0
virtualenv==20.24.5
zc.lockfile==3.0.post1
watchdog==4.0.0
python-subprocess2==2.0.2
thrift==0.16.0
thrift-sasl==0.4.3
distro==1.9.0
cython==3.0.8
pyopenssl==24.0.0
cherrypy-cors==1.7.0
python-kadmv==0.1.7
sudo==1.0.0



